/***********************************************************************
 ***********************************************************************
 * Se inlcuye el css de bootstrap3
 * http://getbootstrap.com/
 ***********************************************************************
 ***********************************************************************/
@import url("bootstrap.css");
@import url("bootstrap.overrides.css");
/*@import url("bootstrap-switch.min.css");*/
@import url("bootstrap-theme.css");
@import url("bootstrap-theme.min.css");


/***********************************************************************
 ***********************************************************************
 * Se inlcuye el css de los iconos de font-awesome
 * http://fortawesome.github.io/Font-Awesome/icons/
 ***********************************************************************
 ***********************************************************************/
@import url("font-awesome.css");

/***********************************************************************
 ***********************************************************************
 Tipografias para KML 3
 ***********************************************************************
 ***********************************************************************/
@import url("fonts.css");


/***********************************************************************
 ***********************************************************************
 * Se inlcuye  css de la barra de menu
 ***********************************************************************
 ***********************************************************************/
@import url("sidebar.nav.css");

/***********************************************************************
 ***********************************************************************
 * Se inlcuye el css de jqgrid
 * http://www.trirand.com/blog/
 ***********************************************************************
 ***********************************************************************/
@import url("ui.jqgrid.css");
@import url("jqGrid.overrides.css");
